.ticket {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
}

.info {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 8px 12px;
  background: #fff;
  border-radius: 8px;
  box-shadow: 2px 2px 2px rgba(#000, 0.2);
}

.info p,
.info h4 {
  padding: 0;
  margin: 0;
}

.info h4 {
  margin-bottom: 8px;
}

.label {
  font-size: x-small;
  color: var(--color-border);
}

.base_information {
  display: flex;
  flex-direction: row;
  align-items: end;
}

.location,
.date,
.price {
  font-size: var(--font-small);
}

.location {
  margin-bottom: 8px;
}

.price {
  display: flex;
  flex-wrap: nowrap;
  align-items: end;
  gap: 2px;
  margin-left: auto;
  white-space: nowrap;
}

.span {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.span:last-child {
  color: var(--color-ton);
}

.code {
  display: flex;
  align-items: center;
  margin-left: auto;
  background: #fff;
  border-radius: 8px;
  border-left: 1px dashed var(--color-border);
  box-shadow: 2px 2px 2px rgba(#000, 0.2);
  overflow: hidden;
}

.data_image {
  width: 100px;
  height: 100px;
}

.data_image_opened {
  width: 100%;
}

.bigCode {
  display: flex;
  align-items: center;
  justify-content: center;
}
