.hero {
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  max-width: var(--device-max-size);
  margin: var(--space-base) auto;
  padding: 60px var(--space-base) 200px;
  border-radius: 24px;
  background: var(--color-border);
  background-size: cover;
  // text-align: center;
}

.container {
  position: relative;

  // &::before {
  //   content: '';
  //   position: absolute;
  //   top: 0;
  //   left: 0;
  //   width: 100%;
  //   height: 100%;
  //   background: #000;
  //   border-radius: 50%;
  //   box-shadow: 0 0 100px 100px rgba(#000, 1);
  //   opacity: 0.4;
  // }
}

.image {
  position: absolute;
  height: 280px;
  max-height: 80%;
  bottom: 0;
}

.content {
  position: relative;
}

.title {
  margin: 0 0 var(--space-big);
  color: #fff;
  font-weight: 500;
  // text-shadow: 1px 1px 2px rgba(#000, 1);

  &:last-child {
    margin-bottom: 0;
  }
}

.text {
  margin: 0 0 var(--space-big);
  font-size: var(--font-bigger);
  color: #fff;
  font-weight: 500;
  // text-shadow: 1px 1px 2px rgba(#000, 1);

  &:last-child {
    margin-bottom: 0;
  }
}
