.eventsList {
  margin-top: -80px;
  margin-bottom: 0;
  padding: 80px 16px 0;
  list-style: none;
  display: flex;
  flex-direction: row;
  overflow: scroll;
  scroll-snap-type: x mandatory;
  gap: 10vw;
}

.item {
  scroll-snap-align: center;
  flex: 0 0 90vw;
  border-radius: 10px;
  background: white;
}

.link {
  color: inherit;
  text-decoration: none;
}

.eventCover {
  overflow: hidden;
  width: 100%;
  height: 320px;
  border-radius: 10px 10px 0 0;
  transition: 0.2s;
}

.eventImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.eventDescription {
  font-size: 16px;
  transition: 0.2s;
  padding: 24px 12px;
}

.eventName {
  font-size: 20px;
  margin-top: 0;
  margin-bottom: 10px;
}

.eventLocation {
  height: 52px;
  line-height: 26px;
  margin-top: 10px;
  margin-bottom: 0px;
}

.eventDate {
  line-height: 26px;
  margin-top: 10px;
  margin-bottom: 0px;
}
