.header {
  --gradient-color-primary: #458cfe;
  --gradient-color-secondary: #7dd8fd;
  flex: 0 0 auto;
  height: 56px !important;
  line-height: 56px !important;
  padding: 0 !important;
  background: linear-gradient(
    90.41deg,
    var(--gradient-color-primary) -0.89%,
    var(--gradient-color-secondary) 112.62%
  ) !important;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--space-base);
  height: 100%;
  padding: 0 var(--space-base);
}

.logo {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 18px;
  font-weight: var(--font-medium);

  &,
  &:hover,
  &:active {
    color: var(--color-text-alt);
  }
}

.icon {
  color: #fff !important;
  font-size: 24px;
}

.logoText {
  flex: 0 0 auto;
  color: #fff;
}

.userPlace {
  display: flex;
  align-items: center;
  gap: var(--space-base);
}

.menuList {
  display: flex;
  margin: 0 auto 0 0;
  padding: 0;
  list-style: none;
  color: #fff;
}

.menuLink {
  display: flex;
  align-items: center;
  padding: 0 8px;
  color: #fff;

  &:hover {
    color: #fff;
    background: rgba(255, 255, 255, 0.1);
  }
}
